name: Partial Packagist Rebuild

on:
  workflow_dispatch:
    inputs:
      package:
        type: string
        description: Package name

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: UCF/satis-partial-build@v1-alpha.3
        with:
          token: ${{ github.token }} # App/OAuth token, PAT
          pacakge: ${{ inputs.package }}
      - env:
          GIT_EMAIL: bot@github.com
          GIT_NAME: cool-bot
        run: |
          git config user.name $GIT_NAME
          git config user.email $GIT_EMAIL
          git add docs/
          git commit -m "Re-built repository assets"
          git push
